html {
	font: 15px lato, sans-serif;
}

body {
	background-color: #292D3E;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

.field {
	margin-top: 100px;
}

.field .info {
	color: lightgray;
	width: 60%;
	margin: 0 auto 50px auto;
	text-align: center;
}

.field .info h2 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

.field .info .state {
	margin-bottom: 5px;
	display: inline-block;
}

.field .info .restart {
	cursor: pointer;
	display: none;
	margin-left: 5px;
	color: #dda413;
}

.field .info .history {
	font-size: 0.8em;
}

.field table {
	cursor: pointer;
}

.field table td.selected {
	background-color: #404456;
}

.field table td.valid {
	background-color: #2f6638;
	opacity: 0.6;
}

table {
 	border-collapse: collapse;
 	margin: 0 auto;
}
table td {
 	border: 1px solid gray;
 	width: 50px;
 	height: 50px;
 	vertical-align: middle;
 	text-align: center;
}

table .caption {
	font-size: 10px;
	margin-top: -37px;
}

.token {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table .token {
	width: 50px;
 	height: 50px;
 	margin-top: -10px;
	font-size: 30px;
}

.own {
	color: #4c80ce;
}

.enemy {
	color: #e8e55a;
}

.matchbox {
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	cursor: default;
}

.matchbox .box {
	margin: 50px 10px 0 10px;
	display: inline-block;
	vertical-align: top;
	height: 260px;
}

.matchbox .headline {
	display: inline-block;
	margin-bottom: 10px;
	color: gray;
}

.matchbox .box .turns {
	margin: 15px 0 0 63px;
}

.matchbox .box .turns div {
	display: inline-block;
	text-align: left;
}

.matchbox .box .turns .turn {
	display: block;
}

.matchbox .box .turns .turn .token {
	width: 20px;
 	height: 20px;
	font-size: 15px;
}

.matchbox .box .turns .turn .caption {
	font-size: 8px;
	margin-left: -13px;
}

.matchbox .box .turns .turn .symbol {
	font-size: 15px;
	margin-left: 10px;
	color: gray;
}

.matchbox .box .turns .turn .forbidden {
	color: #dd3f13;
}